* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

.App {
  width: 100vh;
  height: 100vh;
}

:root {
  --mainColor: #f8f9fc;
  --darkColor: #474747;
  --lightColor: #4d4c4c;
  --mainWhite: #fff;
  --mainBlack: #000;
  --borderColor: #034eaf;
  --borderColorLight: #1a73eb;
  --linkColor: #5f6368;
  --facebook: #1550a8;
  --twitter: #3b94cf;
  --linkedin: #0467a0;
}

button {
  cursor: pointer;
}
